.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
.Header{
  text-align: center;
  
}
.MainDiv{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.FirstDropDown{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 180px;
  width: 750px;
  padding: auto;
  margin: 15px;
  background-color: aliceblue;
}
.FirstDropDown span {
  margin: 20px 0px 20px 0px;
}
.SecondDropDown{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 180px;
  width: 750px;
  padding: auto;
  margin: 15px;
  background-color: aliceblue;
}
.SecondDropDown span {
  margin: 20px 0px 20px 0px;
}
.regionDropDown {
  width: 270px;
  padding: 8px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
.regionDropDown option{
  font-weight: bold;
}
.CountryDropDown{
  width: 350px;
  padding: 8px;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
}
.CountryDropDown option{
  font-weight: bold;
}

@media screen  and (max-width : 400px) {
  .regionDropDown {
      display: flex;
      flex-direction: column;
      font-size: x-small;
      width: 40%;
  }
  .CountryDropDown{
      display: flex;
      flex-direction: column;
      font-size: x-small;
      width: 40%;
  }
  .FirstDropDown{
      display: flex;
      flex-direction: column;
      height: 150px;
      width: 90%;
  }
  .SecondDropDown{
      display: flex;
      flex-direction: column;
      height: 150px;
      width: 90%;   
  }
}

@media screen  and (max-width : 600px) {
  .regionDropDown {
      font-size: x-small;
      width: 70%;
  }
  .CountryDropDown{
      font-size: x-small;
      width: 70%;
  }
  .FirstDropDown{
      display: flex;
      flex-direction: column;
      height: 200px;
      width: 90%;
  }
  .SecondDropDown{
      display: flex;
      flex-direction: column;
      height: 200px;
      width: 90%;   
  }
}

@media screen  and (min-width : 600px) and (max-width: 800px) {
  .regionDropDown {
      font-size: x-small;
      width: 70%;
  }
  .CountryDropDown{
      font-size: x-small;
      width: 70%;
  }
  .FirstDropDown{
      display: flex;
      flex-direction: column;
      height: 150px;
      width: 90%;
  }
  .SecondDropDown{
      display: flex;
      flex-direction: column;
      height: 150px;
      width: 90%;   
  }
  
}


@media screen  and (min-width : 800px) and (max-width: 1200px) {
  .regionDropDown {
      font-size: x-small;
      width: 70%;
  }
  .CountryDropDown{
      font-size: x-small;
      width: 70%;
  }
  .FirstDropDown{
      display: flex;
      flex-direction: column;
      height: 150px;
      width: 90%;
  }
  .SecondDropDown{
      display: flex;
      flex-direction: column;
      height: 150px;
      width: 90%;   
  }
}



